#pay_layout {
    display: none;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.2);

    z-index: 100;

    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(16px);

    transition: 0.5s;
}

#auth_layout {
    display: none;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.2);

    z-index: 100;

    position: fixed;
    top: 0;
    left: 0;
    backdrop-filter: blur(16px);

    transition: 0.5s;
}

.pay_layout_content_wrapper {
    width: 400px;
    min-height: 380px;
    background-color: #FFFFFF;
}

#all_themes_card {
    cursor: pointer;
}

#inside_and_outside_card {
    cursor: pointer;
}