body {
    position: relative;

    width: 100%;
    min-height: 100vh;

    background-color: #000000;
    color: #FFFFFF;

    margin: 0px;
}

.root {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0px 35px 0px 35px;
}

header {
    height: 70px;
    width: 100%;

    display: grid;
    grid-template-columns: 3fr 2fr;
}

.margin_bottom {
    margin-bottom: 62px;
}

.grid_center {
    display: grid;
    justify-content: center;
}

.header_navigation {
    display: grid;
    justify-items: flex-start;
    align-items: center;
}

.header_navigation > div{
    display: grid;
    grid-auto-flow: column;
    gap: 10px;
}

.menu_title {
    font-family: "FuturaNowText-Md";
    font-weight: 500;
    cursor: default;
    font-size: 20px;
}

.menu_button {
    font-family: "FuturaNowText-Rg";
    font-weight: 400;
    cursor: pointer;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 20px;

}

.active_menu_button::after {
    content: '';
    display: block;
    width: 100%;
    margin-top: 5px;
    height: 2px;
    background-color: #E20016;
}

.menu_button:hover {
    color: #E20016;
}

.header_auth {
    display: grid;
}

.header_auth > div {
    display: grid;
    grid-auto-flow: column;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}

.auth_button > button {
    padding: 10px 20px 11px 20px;
    border: 1px solid #FFFFFF;
    border-radius: 6px;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0);
    font-family: "FuturaNowText-Md";
    font-weight: 500;

    font-size: 20px;
}

.try_button > button {
    padding: 10px 20px 11px 20px;

    border: 1px solid #E20016;
    border-radius: 6px;
    color: #FFFFFF;
    background-color: #E20016;
    font-family: "FuturaNowText-Md";
    font-weight: 500;

    font-size: 20px;

}

.main_title_wrapper {
    display: grid;
    width: 100%;
    justify-items: center;
}

.main_title_wrapper::after {
    content: '';
    width: 100%;
    display: block;
    height: 1px;
    background-color: #FFFFFF;
}

.main_title {
    width: 100%;
}

.main_title > h1 {
    color:#FFFFFF;
    font-size: 118px;
    font-family: "FuturaNowText-Blk";
    font-weight: 900;
    line-height: 107px;

    margin: 44px 0px 50px 0px;
}

.main_flow {
    padding-top: 50px;
}

.first_step {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr 1fr;
    align-items: flex-end;
}

.first_step_star {
    position: relative;
}

.promote_layer_star {
    position: absolute;
    top: 84px;
    left: 107px;
    width: 50%;
    color:#E20016;
    transform: rotate(-6deg);
    line-height: 28px;
}

.first_step_star > div {
    font-size: 24px;
    font-family: "FuturaNowText-Md";
    font-weight: 500;
    letter-spacing: -2px;
    margin: 0px;
}

.first_step_star_description {
    width: 62%;
}

.second_step {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.second_step_left_column {}

.second_step_all_themes {}

.second_step_all_themes_description > h3 {
    font-size: 40px;
    font-family: "FuturaNowText-Md";
    font-weight: 500;
}

.titles_default {
    letter-spacing: 7.5px;
    margin: 24px 0px 14px 0px;
}

.second_step_all_themes_description > p {
    font-size: 24px;
    font-family: "FuturaNowText-Md";
    font-weight: 400;
    margin: 0;
    line-height: 28.8px;
}


.second_step_all_themes_price {
}

.old_price > p {
    font-size: 30px;
    font-family: "FuturaNowText-Md";
    font-weight: 500;
    text-decoration: line-through;
    color: #5B5B5B;
    margin: 18px 0px 0px 0px
}

.current_price {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}

.lesson_description {
    padding-left: 10px;
}

.lesson_description > div {
    font-size: 24px;
    font-family: "FuturaNowText-Rg";
    font-weight: 500;
    line-height: 28px;
    padding-bottom: 3px;
}

.lesson_description:first-child {
    margin-bottom: 5px;
}

.pay_button {
    font-size: 42px;
    font-family: "FuturaNowText-Md";
    font-weight: 500;
    color: #FFFFFF;
    background-color: #E20016;
    border: 1px solid #E20016;
    padding: 0px 25px 4px 25px;
    border-radius: 6px;
}

.pipe_block {
    padding-top: 50px;
}

.pipe_block object {
    width: 375px;
}

.pipe_block p {
    font-size: 24px;
    font-family: "FuturaNowText-Md";
    font-weight: 500;
    line-height: 28.8px;
    font-style: normal;
}

.rule_inside_and_outside > h3 {
    font-size: 40px;
    font-family: "FuturaNowText-Md";
    font-weight: 500;
    line-height: 10px;
    line-height: 50px;
}

.thrid_step {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.lightning_block_description > p {
    font-size: 24px;
    font-family: "FuturaNowText-Md";
    font-weight: 500;
    line-height: 28.8px;
    margin-top: 0px;
}

.fourth_step {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.text_layout_description {
}

.text_layout h3 {
    font-size: 40px;
    font-family: "FuturaNowText-Md";
    font-weight: 500;
    line-height: 50px;
}

.four_circles_block {
    padding-top: 65px;
}

.modular {
    font-size: 40px;
    font-family: "FuturaNowText-Md";
    font-weight: 500;
    margin: 0;
    letter-spacing: 8.5px;
    line-height: 50px;
}

.rule_object > h3{
    font-size: 40px;
    font-family: "FuturaNowText-Md";
    font-weight: 500;
    line-height: 50px;
}

.footer {
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100px;
    align-items: center;
    font-size: 16px;
    font-family: "FuturaNowText-Rg";
    font-weight: 400;
}

.footer a {
    color:#E20016;
    text-decoration: none;
}

.documents {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.documents > div {
    display: grid;
    grid-template-columns: 1fr;
}

.mail {
    justify-items: flex-end;
}


#login_popup {
    display: none;

    position: absolute;
    top: 80px;
    right: 260px;
    width: 360px;
    background-color: #FFFFFF;

    padding: 22px;
}

.square_arrow { 
    width: 20px;
    height: 20px;
    background-color: #FFFFFF;

    position: absolute;
    top: -10px;
    left: 195px;
    transform: rotate(45deg);
}

.enter_labels {
    color: #000000;
}

.enter_labels > h5 {
    margin: 0;

    font-size: 20px;
    font-family: "FuturaNowText-Md";
    font-weight: 500;
}
.enter_labels > p {
    margin: 0;

    font-size: 16px;
    font-family: "FuturaNowText-Rg";
    font-weight: 400;
}

.enter_email_option {
    display: grid;
    grid-template-columns: 4fr 1fr;

    margin-top: 16px;

    width: 100%;
    height: 45px;
    border: 1px solid rgba(0, 0, 0, 0.14);
    border-radius: 4px;
}

.enter_email_option > input{
    border: none;
    font-size: 16px;
    font-family: "FuturaNowText-Rg";
    font-weight: 400;
    text-indent: 13px;
    padding-bottom: 5px;

}

.enter_email_option > input::placeholder {
    color: #C6C6C6;
}

.enter_email_option > button{
    border: none;
    background-color: #CCCCCC;
}

.enter_buro_option {}

.label_or {
    color: #000000;
    font-size: 16px;
    font-family: "FuturaNowText-Rg";
    font-weight: 400;
    text-align: center;
}

.enter_with_buro_button > button {
    width: 100%;
    height: 43px;
    background-color: #000000;
    border: 1px solid #000000;
    border-radius: 6px;
    color: #FFFFFF;

    font-size: 20px;
    font-family: "FuturaNowText-Md";
    font-weight: 500;

    padding-bottom: 7px;
}

.enter_with_buro_description > p {
    color: #000000;
    font-size: 13px;
    font-family: "FuturaNowText-Rg";
    font-weight: 400;
}

.second_step_all_themes_mobile_mode {
    display: none;
}

.second_step_right_column_mobile_mode {
    display: none;
}

.text_layout_mobile_mode {
    display: none;
}

.right_column_mobile_mode {
    display: none;
}

.footer_mobile_mode {
    display: none;
}

.menu_burger {
    display: none;
}

#menu_layer_mobile {
    display: none;
    width: 0px;
    height: 0px;
    transition: all 0.2s;
}

#login_layer_mobile {
    display: none;
    width: 0px;
    height: 0px;
    transition: all 0.2s;
}


@media screen and (max-width: 576px) {
    .root {
        padding: 0px;
    }

    header {
        direction: rtl;
        align-items: center;
        justify-items: center;
    }

    .header_navigation {
        display: none;
    }

    .menu_burger {
        display: block;
        padding-left: 10px;  
        z-index: 4;      
    }

    .menu_burger_mid_line {
        display: block;
        width: 30px;
        height: 3px;
        background-color: #FFFFFF;
        transition: all 0.2s;
    }


    .menu_burger_mid_line::after {
        display: block;
        background-color: #FFFFFF;

        content: '';
        width: 30px;
        height: 3px;
        transform: translateY(-12px);
        transition: all 0.2s;
    }

    .menu_burger_mid_line::before {
        display: block;
        background-color: #FFFFFF;

        content: '';
        width: 30px;
        height: 3px;
        transform: translateY(10px);
        transition: all 0.2s;
    }

    .menu_burger_mid_line_active {
        display: block;
        background-color: rgba(0, 0, 0, 0);
        transition: all 0.2s;
    }

    .menu_burger_mid_line_active::after {
        display: block;
        background-color: #000000;

        content: '';
        width: 30px;
        height: 3px;
        transform: translateY(0px) rotate(45deg);
        transition: all 0.2s;
    }

    .menu_burger_mid_line_active::before {
        display: block;
        background-color: #000000;

        content: '';
        width: 30px;
        height: 3px;
        transform: translateY(3px) rotate(-45deg);
        transition: all 0.2s;
    }

    .main_title > h1 {
        font-size: 58px;
        line-height: 51px;
    }

    .main_flow {
        padding: 10px;
    }

    .first_step {
        grid-auto-flow: row;
        gap: 40px;
    }

    .second_step,
    .thrid_step,
    .fourth_step {
        grid-template-columns: 1fr;
    }

    .first_step_circles > object,
    .first_step_star > object,
    .pipe_block object,
    .second_step_double_circles_object > object,
    .question_block > object,
    .lightning_block_object > object,
    .four_circles_object > object, 
    .triangle_object > object {
        width: 350px;
    }

    .rule_inside_and_outside > h3,
    .modular > h3 {
        font-size: 36px;
        line-height: 44px;
    }

    .modular > h3 {
        letter-spacing: 4.5px;
    }

    .pay_button {
        font-size: 36px;
    }

    .second_step_all_themes {
        display: none;
    }

    .second_step_all_themes_mobile_mode {
        display: block;
    }

    .second_step_right_column {
        display: none;
    }

    .second_step_right_column_mobile_mode {
        display: block;
    }

    .text_layout {
        display: none;
    }

    .text_layout_mobile_mode {
        display: block;
        font-size: 36px;
        font-family: "FuturaNowText-Md";
        font-weight: 500;
        line-height: 50px;
        line-height: 44px;
    }

    .right_column {
        display: none;
    }

    .right_column_mobile_mode {
        display: block;
    }

    .footer {
        display: none;
    }

    .footer_mobile_mode {
        display: block;
    }

    .footer_mobile_mode a {
        color: #E20016;
        font-size: 16px;
        font-family: "FuturaNowText-Rg";
        font-weight: 400;
        text-decoration: none;
    }

    .power_by {
        display: grid;
        grid-template-columns: 3fr 1fr;
    }

    body {
        width: auto;
    }

    .main_title_wrapper {
        margin-bottom: 20px;
    }

    .old_price {
        display: none;
    }

    .second_step_all_themes_description {
        padding: 15px 0px 20px 0px;
    }

    .text_layout_description {
        line-height: 44px;
        letter-spacing: 4px;
    }

    .text_layout_description > h3 {
        margin: 0px;
        padding: 10px 0px 10px 0px;
    }

    .current_price {
        padding-bottom: 50px;
        grid-template-columns: 1fr 1fr;
    }

    #menu_layer_mobile {
        display: block;
        width: 0%;
        height: 0vh;
        visibility: hidden;
        background-color: #FFFFFF;
        position: absolute;
        top: 0px;
        right: 0px;
        transition: all 0.5s;
    }

    #login_layer_mobile {
        display: block;
        width: 0%;
        height: 0vh;
        visibility: hidden;
        background-color: #FFFFFF;
        position: absolute;
        top: 0px;
        left: 0px;
        transition: all 0.5s;
        z-index: 10;
    }

    #login_layer_mobile > .login_layer_mobile_content {
        display: none;
    }

    #menu_layer_mobile > .nav {
        display: none;
    }

    .login_layer_mobile_active {
        display: block !important;
        width: 100% !important;
        height: 100vh !important;
        visibility: visible !important;
        transition: all 0.2s;
    }

    .login_layer_mobile_active > .login_layer_mobile_content {
        display: grid !important;
        margin-top: 60px;
        padding: 10px;
    }

    .menu_layer_mobile_active {
        display: block !important;
        width: 100% !important;
        height: 100vh !important;
        visibility: visible !important;
        transition: all 0.2s;
    }

    .menu_layer_mobile_active > .nav {
        display: flex !important;
    }

    .nav {
        flex-direction: column;
        align-items: flex-start;

        margin: 65px 0px 0px 0px;
    }

    .nav > div,
    .nav > a {
        color: #000000;
    }

    .menu_title {
        font-size: 28px;
        font-family: "FuturaNowText-Md";
        font-weight: 500;
        line-height: 27.5px;
    }

    .nav > a,
    .menu_button {
        font-size: 28px;
        font-family: "FuturaNowText-Rg";
        font-weight: 400;
        line-height: 40px;
    }

    .login_layer_close_button {
        position: absolute;
        top: 33px;
        right: 27px;
    }

    .login_layer_close_button_mid_line {
        display: block;
        background-color: rgba(0, 0, 0, 0);
        transition: all 0.2s;
    }

    .login_layer_close_button_mid_line::after {
        display: block;
        background-color: #000000;

        content: '';
        width: 30px;
        height: 3px;
        transform: translateY(0px) rotate(45deg);
        transition: all 0.2s;
    }

    .login_layer_close_button_mid_line::before {
        display: block;
        background-color: #000000;

        content: '';
        width: 30px;
        height: 3px;
        transform: translateY(3px) rotate(-45deg);
        transition: all 0.2s;
    }
}